<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link shorter</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="/favicon.ico"/>

    <script type="module" src="js/client.js"></script>
</head>
<body>
    <div id="app">
        <h1 class="app-header">Link shorter</h1>
        <form id="insert-link" @submit.prevent="getLink">
            <div class="input-field col s6">
                <input id="shorten-link" name="shortLink" type="url" class="validate" v-model="originalLink">
                <label for="shorten-link">URL to shorten</label>
            </div>
            <button id="get-short" type="submit" class="btn green">Get short link</button>
        </form>
        <div id="result" v-cloak>
            <a v-if="linkReceived && !linkLoading" v-bind:href="shortLink" target="_blank">{{shortLink}}</a>
            <loader v-if="linkLoading"/>
        </div>
    </div>
</body>
</html>
